<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myredirectapp">

    <application
        android:label="preservetube archive"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.NoDisplay">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>